<!doctype html>
<html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
	<h1>Welcome to Spunfibers.com!</h1>
	<p>
		You've successfully signed up.
		Use your email address as your username,
		and the password you chose at signup to 
		log in.

		If you'd like to add information to your
		profile (and filter your search results based
		on your sizes or store preferences) check out
		the 'settings' tab when you're logged in.

		You can't reply to this email, but if you have
		any issues or concerns you can reach us by
		clicking the 'contact' link at the bottom of
		the homepage, or by shooting an email to
		'support@spunfibers.com.'

		Happy Outfitting!

		Yours,

		Spunfiberists.
	</p>
</body>
</html>
