// general settings
.grid-frame {
	background: $gray-med;
}

// Menu-bar

.menu-group {
	border-bottom: 8px solid $gray-light;
}

.menu-bar.primary > li > a {
	padding-bottom: .1rem;
	padding-top: .1rem;
}

.menu-bar.primary > li > a > h4 {
	padding-top: .2rem;
}

.menu-bar.primary > li > a:hover {
	background: smartscale($secondary-color, -60%);
}

.menu-bar.primary .is-active > a {
	background: $secondary-color;
}

.menu-bar.primary .is-active.show-all > a {
	background: $primary-color;
}
