// general settings
.off-canvas ~ .grid-frame {
	background: $gray-med;
}

// Menu-bar
.menu-group {
	border-bottom: 8px solid $gray-light;
	background: $primary-color;
	@include breakpoint(medium) {
		li.show-small {
			display: none;
		}
	}
	@include breakpoint(medium down) {
		li {
			display: none;
		}
		li.show-small,
		li.show-all {
			display: flex;
		}
	}
}

.menu-bar.primary > li > a {
	padding-bottom: .1rem;
	padding-top: .1rem;
}

.menu-bar.primary > li > a > h4,
.menu-bar.primary > li > a > h2{
	padding-top: .2rem;
}

.menu-bar.primary > li.panel-icon > a:hover {
	background: $primary-color;
}

.menu-bar.primary > li > a:hover {
	background: smartscale($secondary-color, -60%);
}

.menu-bar.primary .is-active > a {
	background: $secondary-color;
}

.menu-bar.primary .is-active.show-all > a {
	background: $primary-color;
}

.close-icon {
	overflow: hidden;
	padding-right: 0;
}

.off-canvas > h4 {
	padding-left: .4rem;
	padding-top: 1rem;
	padding-bottom: .4rem;
}

.off-canvas .menu-bar.primary li > a > h5 {
	padding-left: 2rem;
}

.off-canvas.left {
	box-shadow: none;
	border-right: .2rem solid $gray-light;
}

.off-canvas {
	overflow: auto;
}

// grid container
.grid-container {
}

// content-box
.content-box {
}
